::-moz-selection {
	background: #2f3550;
	color: #fff;
}

::selection {
	background: #2f3550;
	color: #fff;
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Nunito Sans', sans-serif;
	background: #2f3550;
	color: #fff;
}

a {
	color: #fff;
	font-size: 18px;
	letter-spacing: 0.6px;
}

img {
	border-radius: 5px;
}

.wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100vh;
}

.wrapper .card {
	background: #4265e2;
	border-radius: 10px;
	padding: 50px;
	margin: 60px;
}

.wrapper .card h3 {
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 10px;
}

.wrapper .card p {
	font-size: 18px;
	letter-spacing: 0.6px;
}

.wrapper .card-1 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	height: 100%;
}

.wrapper .card-1 p {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 300px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.wrapper .card-1 img {
	height: 80px;
	cursor: pointer;
	position: relative;
	left: 100px;
}

.wrapper .card-2 a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 450px;
	margin-top: 10px;
}

.wrapper .card-3 h3 {
	margin-top: 30px;
}

.wrapper .card-3 p.faded {
	color: rgba(255, 255, 255, 0.5);
}

.wrapper .card-3 button {
	border: none;
	background: rgba(255, 255, 255, 0.3);
	color: #fff;
	font-family: 'Nunito Sans';
	padding: 10px 22px;
	font-size: 18px;
	margin-top: 30px;
	border-radius: 5px;
	-webkit-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	cursor: pointer;
}

.wrapper .card-3 button:hover {
	background: rgba(255, 255, 255, 0.2);
}
