$bodyBackground: #F4F9FF;
$primaryColor: #0F0F2B;
$navSpacing: 20px;
$btnBackground: #3F9CCF;
$fontTitle: 32px;

@mixin btn-style ($size) {
  background: $btnBackground;
  font-family: inherit;
  font-size: 16px;
  border-radius: 5px;
  color: white;
  border: none;
  padding: $size 28px;
  transition: transform 200ms ease-in-out;
  cursor: pointer;
}

@mixin tablet {
  @media screen and (max-width: 840px) { @content; }
}

@mixin mobile {
  @media screen and (max-width: 450px) { @content }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Kumbh Sans';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: $primaryColor;
  background: $bodyBackground;
}

.card {
  width: 1270px;
  height: 680px;
  box-shadow: 0px 30px 55px rgba(50, 112, 187, 0.5);
}

nav {
  margin: 30px;

  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    @include tablet { justify-content: center; }

    li {
      padding: 0 $navSpacing;

      a {
        text-decoration: none;
        font-size: 18px;
        color: $primaryColor;
        transition: color 200ms ease-in-out;

        &:hover { color: lighten($primaryColor, 50%) }
      }
    }
  }
}

header {
  padding: 60px 200px;
  position: relative;

  @include mobile {
    text-align: center;
    padding: 0;
  }

  @include tablet { padding: auto; }

  .main__title {
    font-size: 36px;
    @include mobile { margin-top: 80px; }
  }

  .main__subtitle {
    width: 480px;
    font-size: 18px;
    margin: 10px 0 20px 0;

    @include mobile {
      width: 280px;
      font-size: 20px;
      margin: 35px auto;
      line-height: 1.5;
      color: $primaryColor;
    }
  }

  .cta {
    @include btn-style(16px);
    @include mobile { margin-bottom: 20px; }

    &:hover { transform: scale(1.1); }
  }

  img {
    width: 490px;
    position: absolute;
    top: -88px;
    right: 0;
    z-index: -99;
    @include mobile { top: 0px; }
  }
}

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $primaryColor;
  color: white;
  height: 282px;

  &__subtitle {
    width: 400px;
    text-align: center;
    margin: 25px 0;
  }

  input {
    width: 300px;
    padding: 11px;
    border-radius: 5px;
    background: white;
    font-family: inherit;
    font-size: 16px;
    margin-right: 5px;
    @include mobile { width: 200px; }
  }
  
  button[type="submit"] {
    @include btn-style(12px);
    margin-bottom: 20px;

    &:hover { transform: scale(1.1); }
  }

  small {
    color: darken(white, 40%);
    text-align: left;
  }
}