*::before,
*::after,
* { box-sizing: inherit; }

html { box-sizing: border-box; }

body {
	background-color: #ebebf1;
	font-family: 'Muli', sans-serif;
	margin: 0;
	padding: 0;
	color: white;
}

.card__container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;

	.card-1 {
		width: 450px;
		height: 350px;
		padding: 2.5em;
		background-color: #0f0f1b;
		border-radius: 10px;

		.card-1__header {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.invite-members {
				display: flex;
				color: #a45bf9;
				cursor: pointer;

				.icon-plus { margin-right: 0.25em; }
			}
		}

		.member {
			display: flex;
			align-items: center;

      h4 small {
        font-size: 0.875em;
        font-weight: 300;
        background-color: #1d1d30;
        padding: 0.125em 0.5rem;
        margin-left: 0.375em;
        border-radius: 20px;
        vertical-align: middle;
        cursor: pointer;
      }

      .current { background-color: rgba(164, 91, 249, 0.25); }

			.profile-bubble {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 40px;
				height: 40px;
				padding: 0.875em;
				margin-right: 0.625em;
				border-radius: 50%;
			}
		}

		.member-1 { background-color: #7a6de5; }
		.member-2 { background-color: #e56d8c; }
		.member-3 { background-color: #dc7444; }
	}
}

@media screen and (max-width: 450px) {
  body { transform: scale(0.85); }
}

@media screen and (min-width: 1200px) {
  body { transform: scale(1.4); }
}